{% extends 'bbs/base.html' %}
{% block content %}
<body>
<div class="container">
<div><a href="{% url 'bbs:list' %}" class="btn btn-primary pull-right">Back to List</a></div>
<br><br>
<pre>
    {% for article in articles %}
{#    <div class="container">#}
        <p>### {{ article.subtitle }}</p>
        <p>{{ article.description1|linebreaksbr }}  </p>
<span>```</span>
<p>{{ article.examples|linebreaksbr }}</p><span>```</span>
        <p>{{ article.description2|linebreaksbr }}  </p>
    {% endfor %}
</pre>
</div>
</body>
{% endblock %}
