{% extends 'bbs/base.html' %}
{% block content %}
<body>
<a href="{% url 'bbs:list' %}" class="btn btn-primary pull-right">Back to List</a>
    {% for article in articles %}
    <div class="container">
        <p>### {{ article.subtitle }}</p>
        <br>
        <p>{{ article.description1|linebreaksbr }}  </p>
        <br>
        <p>```</p>
        <p>{{ article.examples|linebreaksbr }}</p>
        <p>```</p>
        <br>
        <p>{{ article.description2|linebreaksbr }}  </p>
        <br>

    </div>
    {% endfor %}
</body>
{% endblock %}
