{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Django</title>
</head>

<header>
    <div class="page-header container">
        <h1 class=""><a href="{% url 'bbs:list' %}">Django Introduction to Models</a></h1>
    </div>
</header>

{% block content %}
{% endblock %}
</html>